body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}
.login-container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    margin-bottom: 20px;
}
input[type="text"], input[type="password"], input[type="submit"] {
    width: 80%; /* Mismo tamaño para todos los inputs */
    padding: 10px;
    margin: 10px 0; /* Manteniendo margen solo arriba y abajo */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Para incluir padding en el tamaño total */
}
input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}