body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
}
.usuario {
    position: relative; /* Necesario para el menú */
    margin-left: auto; /* Alinea a la derecha */
}
.menu {
    display: none; /* Oculto por defecto */
    position: absolute;
    right: 0;
    top: 100%;
    background-color: white;
    border: 1px solid #ddd;
    z-index: 1;
}
.usuario:hover .menu {
    display: block; /* Muestra el menú al pasar el mouse */
}
.menu a {
    display: block;
    padding: 10px;
    color: #007bff;
    text-decoration: none;
}
.menu a:hover {
    background-color: #f0f0f0;
}
table {
    width: 60%;
    margin: 20px auto;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}
button {
    padding: 5px 10px;
    cursor: pointer;
}
.btn-add-product {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #28a745;
    color: white;
    text-align: center;
    border: none;
    border-radius: 5px;
}